body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container {
    text-align: center;
}

#imageUpload {
    text-align: center;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
